*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-size: 62.5%;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	background-color: #8bc6ec;
	background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}
.shadow {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	width: 100vw;
	height: 100vh;
	opacity: 0.3;
	z-index: -100;
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.panel {
	width: 100%;
	height: 100%;
	max-height: 800px;
	max-width: 600px;
	position: absolute;
	transform: translateX(0);
	opacity: 1;
	transition: transform 0.3s, opacity 0.3s;
	background-image: url('/img/bgc_cloud.jpg');
	background-position: center;
	background-size: cover;
	animation: backgroundMove 1s;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		width: 100%;
		height: 100%;

		&-header {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			text-align: center;
			padding: 1em;
			font-size: 1rem;
			&__img {
				position: absolute;
				top: 1.2em;
				left: 1.2em;
				width: 15%;
			}
			&__text {
				color: #04a4ff;
			}
		}
		&-input {
			border: none;
			padding: 0.5em 1em;
			width: 80%;
			height: 50px;
			border-radius: 10px;
			color: #04a4ff;
			font-size: 1.5rem;
			outline: none;
			border: 1px solid rgb(212, 212, 212);
		}
		&-error {
			color: rgb(253, 55, 55);
			font-size: 1rem;
			visibility: hidden;
		}
		&-btn {
			padding: 1em 2em;
			width: 60%;
			color: #10699c;
			border-radius: 10px;
			border: none;
			cursor: pointer;
			transition: background-color 0.4s, color 0.4s;
			&:hover {
				background-color: #c5c5c5;
				color: #04a4ff;
			}
		}
	}
}
.app {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	max-height: 800px;
	max-width: 600px;
	transition: visibility 0.3s;
	visibility: hidden;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		padding: 1em 0.5em;
		font-size: 1.2rem;
		&-icon {
			color: #fff;
			background: none;
			border: none;
			padding: 0.4em;
			font-size: 1.2rem;
			cursor: pointer;
		}
		&-city {
			font-weight: bold;
		}
	}

	&__mid {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 1em;
		&-img {
			width: 50px;
		}
		&-value {
			display: flex;
			padding: 1em;
			font-size: 1.8rem;
			&-status {
				margin-left: 1em;
				font-size: 1rem;
			}
		}
	}
	&__bottom {
		font-size: 1.2rem;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		width: 100%;
		&-section {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.5em 1em;

			&-option {
				display: flex;
				align-items: center;

				&-icon {
					width: 28px;
				}
			}
		}
	}
	&__footer {
		&-back {
			color: #fff;
			bottom: 0;
			background: none;
			padding: 1em 0.5em;
			border: none;
			cursor: pointer;
			margin-bottom: 1em;
			margin-left: 1em;
		}
	}
}

.translate-right {
	transform: translateX(-100%);
	opacity: 0;
}
.show {
	visibility: visible;
}

@media (min-width: 600px) {
	body {
		background-image: url('/img/body_bgc.jpg');
		background-size: cover;
		background-position: center;
	}

	.panel {
		border-radius: 20px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}
	.app {
		border-radius: 20px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}
}
