*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-size: 62.5%;
	color: #fff;
	font-family: 'Montserrat', sans-serif;

	background-image: url('./img/body_bgc.jpg');
	background-size: cover;
	background-position: center;
}
.shadow {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	width: 100vw;
	height: 100vh;
	opacity: 0.3;
	z-index: -10;
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.panel {
	width: 100%;
	height: 100%;
	max-width: 992px;
	position: absolute;
	transform: translateX(0);
	opacity: 1;
	transition: transform 0.4s, opacity 0.2s;
	background-image: url('./img/bgc_cloud.jpg');
	background-position: center;
	background-size: cover;
	z-index: 10;
	overflow: hidden;
	&__img {
		position: absolute;
		top: 0;
		right: 0;
		width: 100px;
		z-index: -1;
		opacity: 0.5;
	}
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		width: 100%;
		height: 100%;

		&-header {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			text-align: center;
			padding: 1em;
			font-size: 1rem;
			&__img {
				position: absolute;
				top: 1.2em;
				left: 1.2em;
				width: 15%;
			}
			&__text {
				color: #04a4ff;
			}
		}
		&-input {
			border: none;
			padding: 0.5em 1em;
			width: 80%;
			height: 50px;
			border-radius: 10px;
			color: #04a4ff;
			font-size: 1.5rem;
			outline: none;
			border: 1px solid rgb(212, 212, 212);
		}
		&-error {
			color: rgb(253, 55, 55);
			font-size: 1rem;
			// visibility: hidden;
		}
		&-btn {
			padding: 1em 2em;
			width: 60%;
			color: #10699c;
			border-radius: 10px;
			border: none;
			cursor: pointer;
			transition: background-color 0.4s, color 0.4s;
			&:hover {
				background-color: #c5c5c5;
				color: #04a4ff;
			}
		}
	}
}
.rotate-center {
	animation: rotate-center 15s linear infinite;
}

.jello-horizontal {
	animation: jello-horizontal 0.9s both;
}
@keyframes rotate-center {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes jello-horizontal {
	0% {
		transform: scale3d(1, 1, 1);
	}
	30% {
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

.app {
	overflow: hidden;
	position: relative;
	width: 100vw;
	height: 100vh;
	max-width: 992px;
	transition: visibility 0.3s;
	// zmienic na hidden \/
	visibility: hidden;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		padding: 0.7em 0.5em;
		margin-top: 0.5em;
		font-size: 1.2rem;
		&-icon {
			color: #fff;
			background: none;
			border: none;
			padding: 0.4em 0.2em;
			font-size: 1.2rem;
			cursor: pointer;
		}
		&-city {
			text-align: center;
			font-weight: bold;
		}
	}

	&__mid {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 1em auto;
		width: 100%;
		&-img {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 25%;
		}
		&-value {
			display: flex;
			padding: 0.5em 1em;
			font-size: 1.6rem;
			&-status {
				margin-left: 1em;
				font-size: 1rem;
			}
		}
		&-container {
			font-style: italic;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 100%;
			&-description {
				padding: 0.5em;
				font-size: 1.1rem;
			}
			&-text {
				padding: 0.5em;
				font-size: 0.8rem;
				color: #dfdfdf;
				&--max,
				&--feel {
					font-size: 0.9rem;
					color: #fff;
				}
			}
		}
	}
	&__bottom {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 1em;
		font-size: 1rem;
		width: 100%;
		text-transform: uppercase;

		&-section {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.3em 1.5em;
			margin: 0.3em 0.5em;
			&-option {
				display: flex;
				align-items: center;

				&-icon {
					margin-right: 0.5em;
					width: 20px;
				}
			}
		}
	}
	&__footer {
		&-back {
			position: absolute;
			color: #fff;
			bottom: 1em;
			background: none;
			padding: 1em 0.5em;
			border: none;
			cursor: pointer;
			margin-bottom: 1em;
			margin-left: 1em;
		}
	}
}

.settings {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 10px;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
	max-width: 600px;
	max-height: 500px;
	background-color: #2e5a8b;
	z-index: 999;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	&__header {
		text-transform: uppercase;
		font-size: 1.5rem;
		text-align: center;
		margin-top: 1em;
	}
	&__container {
		width: 100%;
		text-align: center;
		&-header {
			font-size: 1rem;
			padding: 1em 0.5em;
			&-icon {
				margin-right: 0.3em;
			}
			&-input {
				padding: 1em;
				margin-right: 0.4em;
			}
		}
		&-label {
			padding: 1em;
			margin: 1em;
			font-size: 0.8rem;
		}
	}
	&__close {
		width: 70%;
		background-color: #10699c;
		border: none;
		padding: 0.5em 1em;
		border-radius: 8px;
		color: #dfdfdf;
		transition: background-color 0.3s;
		cursor: pointer;
		&:hover {
			background-color: #10699c;
		}
	}
}

.bgc {
	position: absolute;
	background-image: url('/img/app_bgc.jpg');
	background-position: center;
	background-size: cover;
	filter: brightness(0.65) blur(5px);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -5;
}
.translate-right {
	transform: translateX(-100%);
	opacity: 0;
}
.show {
	visibility: visible;
}
.display-flex {
	display: flex;
}
.display-none {
	display: none;
}

@media (min-width: 992px) {
	.panel {
		border-radius: 20px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}
	.app {
		border-radius: 20px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}
}
